@model bibliothek.Models.MediaItem
@{
    ViewData["Title"] = Model.Sachtitel;
}

<div class="row">
    <div class="col-xs-12 col-sm-4" style="margin-top:20px;">
        <img class="img-responsive" src="@Model.ImageUrl" alt="@Model.Sachtitel" title="@Model.Sachtitel" />
    </div>
    <div class="col-xs-12 col-sm-8">
        <h2>@Model.Sachtitel <small>@Model.Titelzusatz</small></h2>

        @Model.Rezension

        <div style="margin-top:10px;">
            <table class="table table-bordered">
                <tr>
                    <th class="text-right">Verfügbar</th>
                    <td>@if (Model.Status) {<span>Ja</span> } else { <span>Nein</span>}</td>
                </tr>
                <tr>
                    <th class="col-xs-3 text-right">Verfasser</th>
                    <td class="col-xs-9">@Model.Verfasser</td>
                </tr>
                <tr>
                    <th class="text-right">Verlag</th>
                    <td>@Model.Verlag</td>
                </tr>
                <tr>
                    <th class="text-right">ISBN</th>
                    <td>@Model.ISBN</td>
                </tr>
                <tr>
                    <th class="text-right">MedienArt</th>
                    <td>@Model.MedienArt</td>
                </tr>
                <tr>
                    <th class="text-right">Systematik</th>
                    <td>@Model.Systematik</td>
                </tr>
                <tr>
                    <th class="text-right">Mediennummer</th>
                    <td>@Model.Id</td>
                </tr>
            </table>
        </div>

    </div>
</div>

@if (Model.SimilarBooks != null)
{
    <div class="row equal">

        <div class="col-xs-12" style="margin-top:20px;"><h3><i class="fa fa-star" aria-hidden="true"></i> Ähnliche Medien</h3></div>

        @foreach (var item in Model.SimilarBooks.OrderByDescending(o => o.Mediennummer))
        {
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="thumbnail">
                    @if (item.Mediennummer > 0)
                    {
                        <a href="/Medien/Detail/@item.Mediennummer">
                            <div class="w-100 Book" style="background-image:url('@item.ImageUrl'), url('/Content/nocover.jpg');"></div>
                        </a>
                    }
                    else
                    {
                        <a href="@item.Url">
                            <div class="w-100 Book" style="background-image:url('@item.ImageUrl'), url('/Content/nocover.jpg');"></div>
                        </a>
                    }
                    <div class="caption text-center">
                        <h4>@item.Title <small>@item.Verfasser</small></h4>
                        @if (item.Mediennummer > 0)
                        {
                            <a href="/Medien/Detail/@item.Mediennummer" class="btn btn-primary">Details</a>
                        }
                        else
                        {
                            <a href="@item.Url" class="btn btn-danger"><i class="fa fa-amazon" aria-hidden="true"></i> weiter zu Amazon.de</a>
                        }
                    </div>
                </div>
            </div>

        }

    </div>
}

<script type="application/ld+json">
    {
    "@@context": "http://schema.org",
    "@@type": "WebPage",
    "mainEntity":{
        "@@type": "Book",
        "author": "@Model.Verfasser",
        "image": "@Model.ImageUrl",
        "inLanguage": "German",
        "isbn": "@Model.ISBN",
        "name": "@Model.Sachtitel @Model.Titelzusatz",
        "publisher": "@Model.Verlag"
        }
    }
</script>