@model List<bibliothek.Models.Magazine>
@{
    ViewData["Title"] = "Zeitschriften";
}

<h2>Zeitschriften</h2>


<div class="row equal">

        @foreach (var item in Model)
        {
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="http://via.placeholder.com/350x150?text=@item.Name" class="img-responsive" alt="@item.Name" title="@item.Name" />
                    <div class="caption">
                        <h3>@item.Name</h3>
                        @if (item.Description != null)
                        {
                            <p>@item.Description</p>
                        }
                        @if (item.Website != null)
                        {
                            <a href="@item.Website" class="btn btn-primary">weitere Informationen</a>
                        }
                        @if (item.PublicationFrequency != null)
                        {
                            <div class="table-responsive" style="margin-top:20px;">
                                <table class="table table-bordered">
                                    <tr>
                                        <th class="hidden-xs">Erscheinungsweise</th>
                                        <th class="visible-xs">Auflage</th>
                                        <td>@item.PublicationFrequency</td>
                                    </tr>
                                </table>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
</div>