@model List<bibliothek.at.Models.MediaItem>
@{
    ViewBag.Title = "Trends";
    var mapping = ((Dictionary<string, string>)ViewBag.Mapping);
}

<h2>Trends</h2>

<h3>Kategorien</h3>
<ul class="list-group">
    @foreach (var item in mapping)
    {
        <li class="list-group-item"><a href="#@item.Key">@item.Value</a></li>
    }
</ul>

<div class="row equal">
    @{
        var lastMediaArt = string.Empty;
        foreach (var item in Model)
        {
            if (lastMediaArt != item.MedienArt)
            {
                lastMediaArt = item.MedienArt;

                var name = mapping.Where(o => o.Key == item.MedienArt.ToUpper()).Select(o => o.Value).FirstOrDefault();
                <div class="col-xs-12"><h3 id="@item.MedienArt">Medienart: @name (@item.MedienArt)</h3></div>
            }

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="thumbnail">
                    <a href="/Medien/Detail/@item.Id">
                        <div class="w-100" style="height:300px; display:block; background-image:url('@item.ImageUrl'), url('/Content/nocover.jpg'); border:1px solid #dddddd; background-repeat:no-repeat; background-size:100%;"></div>
                    </a>
                    <div class="caption text-center">
                        <a href="/Medien/Detail/@item.Id"><h4>@item.Sachtitel <small>@item.Verfasser</small></h4></a>
                    </div>
                </div>
            </div>
        }
    }
</div>

@section scripts {
    <script type="text/javascript">
        $("h4").fitText(1.2);
    </script>
}